<div class="row mt-2">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-6">
        <app-brand-filter></app-brand-filter>
      </div>
      <div class="col-sm-6">
        <app-color-filter></app-color-filter>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <hr>
  </div>
  <div class="col-sm-12">
    <div class="input-group">
      <span class="input-group-text" id="search-desc">Search</span>
      <input [(ngModel)]="search" type="text" class="form-control" id="search" name="search" placeholder="search"
        aria-describedby="search-desc">
    </div>
  </div>
  <div class="col-sm-12">
    <hr>
  </div>
  <div class="col-sm-12" *ngIf="search">
    <div class="alert alert-info" role="alert">
      You have searched {{search}}.
    </div>
  </div>
  <div class="col-sm-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Brand Name</th>
          <th scope="col">Color Name</th>
          <th scope="col">Description</th>
          <th scope="col">Model Year</th>
          <th scope="col">DailyPrice</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let car of cars | carSearch:search">
          <td>{{car.brandName}}</td>
          <td>{{car.colorName}}</td>
          <td>{{car.description}}</td>
          <td>{{car.modelYear}}</td>
          <td>{{car.dailyPrice}} $</td>
          <td> <a type="button" class="btn btn-outline-info" routerLink="/car-detail/{{car.carId}}"> To Detail </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
