<div class="row">
  <div class="col-sm-12 col-md-4">
    <div class="list-group">
      <a href="#" (click)="CarList()" class="list-group-item list-group-item-action" [ngClass]="active == 'car' ? 'active' : ''">Cars</a>
      <a href="#" (click)="BrandList()" class="list-group-item list-group-item-action" [ngClass]="active == 'brand' ? 'active' : ''">Brands</a>
      <a href="#" (click)="ColorList()" class="list-group-item list-group-item-action" [ngClass]="active == 'color' ? 'active' : ''">Colors</a>
      <a href="#" (click)="CustomerList()" class="list-group-item list-group-item-action" [ngClass]="active == 'customer' ? 'active' : ''">Customers</a>
      <a href="#" (click)="RentalList()" class="list-group-item list-group-item-action" [ngClass]="active == 'rental' ? 'active' : ''">Rentals</a>
    </div>
  </div>
  <div class="col-sm-12 col-md-8">
    <ng-template #adHost></ng-template>
  </div>
</div>
